@model List<TemperatureItemModel>
@{
    ViewData["Title"] = "Home Page";
}
    <div>
        <h2>Shaun's Temp Logging site</h2>

        <canvas id="chartContainer" width="800" height="400"></canvas>

        <table>
            <tr>
                <td>Inside Temp.</td>
                <td>Outside Temp.</td>
                @*<td>Pressure</td>*@
                <td>Time Logged </td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TempInside</td>
                    @*<td>@item.TempOutside</td>*@
                    <td>@item.Pressure</td>
                    <td class="datetime">@item.TempDate</td>
                </tr>
            }
        </table>
    </div>
<script>
    $(function () {
        var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model) as String);

        setupChart(model);
    });
</script>